.login-panel {
    margin-top: 25%;
}

.logo{
    margin-top: -15px;
    width: 70px;
}

a {
    color: #00838F;
    text-decoration: none;
}

.sidebar a{
    color: #e2e2e2;
}

.sidebar ul li a.active {
    background-color: #006D7A;
}
.sidebar ul li a.active:hover {
    background-color: #052f34;
    color:#e2e2e2;
}

a:focus, a:hover {
    color: #f4ab93;
    text-decoration: underline;
}

.sidebar {
    background-color: #00BCD4;
}
