.login-panel {
    margin-top: 25%;
}

.logo{
    margin-top: -15px;
    width: 70px;
}

a {
    color: #00838F;
    text-decoration: none;
}

.sidebar a{
    color: #e2e2e2;
}

.sidebar ul li a.active {
    background-color: #052f34;
}
.sidebar ul li a.active:hover {
    background-color: #e2e2e2;
    color:#052f34;
}

a:focus, a:hover {
    color: #052f34;
    text-decoration: underline;
}

.sidebar {
    background-color: #006D7A;
}

.color-red{
    color:#d9534f;
}
.color-yellow{
    color:#f0ad4e;
}
.color-green{
    color:#5cb85c;
}
.color-blue{
    color:#337ab7;
}
.panel-primary{
    background-color:none!important;
}
.page-header{
    color: #006D7A;
}
.panel-heading-indicator{
    height:118px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.panel-indicator{
    max-width:211px;
}
.col-md-3{
    float: left;
}
.row{
    text-align:center;
}

@media (max-width:767px){
        .panel-indicator{
            max-width:211px;
        }

}
