.login-panel {
    margin-top: 25%;
}

.logo{
    width: 70px;
    margin: -10px 30% 0 30%;
}

a {
    color: #00838F;
    text-decoration: none;
}

.sidebar a{
    color: #e2e2e2;
}

.sidebar ul li a.active {
    background-color: #052f34;
}
.sidebar ul li a.active:hover {
    background-color: #e2e2e2;
    color:#052f34;
}

a:focus, a:hover {
    color: #052f34;
    text-decoration: underline;
}

.sidebar {
    background-color: #006D7A;
}

.color-red{
    color:#d9534f;
}
.color-yellow{
    color:#f0ad4e;
}
.color-green{
    color:#5cb85c;
}
.color-blue{
    color:#337ab7;
}
.panel-primary{
    background-color:none!important;
}
.page-header{
    color: #006D7A;
}
.panel-heading-indicator{
    height:118px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.panel-indicator{
    max-width:211px;
}
.col-md-3{
    float: left;
}
.row{
    text-align:center;
}

.btn-primary {
    color: #fff;
    background-color: #70b2be;
    border-color: #70b2be;
}

.table th{
    color:#00838F;
    text-align:center;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #00838F;
    border-color: #00838F;
}

.pagination>li>a {
    color: #00838F;
    border: 1px solid #ddd;
}

@media (max-width:767px){
    .panel-indicator{
        max-width:211px;
     }

    .navbar-top-links {
        margin-right: 45px;
        margin-top: -50px;
        float: right;
    }
      .fa-2x {
    font-size: 1em !important;
    }
}

@media (max-width:481px){
    .fa-5x{
        font-size: 3em !important;
     }

    .panel-indicator{
        max-width:135px;
     }
    .text-right {
    margin-top: -15px;
    }
    .fa-2x {
    font-size: 1em;
    }
}

/*PLugin MAPA */


#chartdiv {
    width   : 100%;
    height  : 500px;
}

.map-marker {
    /* adjusting for the marker dimensions
    so that it is centered on coordinates */
    margin-left: -8px;
    margin-top: -8px;
}
.map-marker.map-clickable {
    cursor: pointer;
}
.pulse {
        width: 10px;
        height: 10px;
        border: 5px solid #052f34;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background-color: #051517;
        z-index: 10;
        position: absolute;
    }
.map-marker .dot {
        border: 10px solid #198895;
        background: transparent;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
        height: 50px;
        width: 50px;
        -webkit-animation: pulse 3s ease-out;
        -moz-animation: pulse 3s ease-out;
        animation: pulse 3s ease-out;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: 1;
        opacity: 0;
    }
    @-moz-keyframes pulse {
     0% {
        -moz-transform: scale(0);
        opacity: 0.0;
     }
     25% {
        -moz-transform: scale(0);
        opacity: 0.1;
     }
     50% {
        -moz-transform: scale(0.1);
        opacity: 0.3;
     }
     75% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
     }
     100% {
        -moz-transform: scale(1);
        opacity: 0.0;
     }
    }
    @-webkit-keyframes "pulse" {
     0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
     }
     25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
     }
     50% {
        -webkit-transform: scale(0.1);
        opacity: 0.3;
     }
     75% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
     }
     100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
     }
    }
